.glass{ color:#0d6efd;
    background-color:rgba(181, 174, 174, 0.241);
    /* background-color:rgba(95, 89, 89, 0.607); */
    
    /* background: linear-gradient(to top ,#061161,#c21500); */
    font-weight:bold;
    font-size: larger;
}

.ib{
    background-color:rgba(181, 174, 174, 0);
    border-color:rgba(181, 174, 174, 0);
    color:whitesmoke
    
}
.bd{
    border-bottom-color: whitesmoke
}

.backg{
    width: 100%;
    height:100%;
    /* background-image: url("src\assets\fregister.png"); */
    /* background-size:cover ; */
    
    
}